*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}


/* HEADER */


header{
    width: 100%;
    height: 70px;
    background-color: rgb(116, 116, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col, .col-footer{
    text-align: center;
    vertical-align: middle;
}

.logo img{
    width: 90%;
}

ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

li{
    padding: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.button{
    padding: 7px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.white{
    background-color: white;
}

.navigation{
    display: block;
}

.hamburger{
    display: none;
}

.fa-bars{
    font-size: 25px;
    color: white;
}


/* MAIN */


/* first section */

.row .col-65, .row .col-30{
    margin-top: 40px
}

.col-65{
    width: 65%;
    background-color: rgb(211, 211, 255);
    border-radius: 15px;
    display: flex;
}

.content{
    width: 100%;
    display: flex;
}

.col-one, .col-center{
    padding: 10px;
}

.col-center{ 
    text-align: center;
}

.col-30{
    width: 30%;
    padding: 15px;
    border-radius: 15px;
}

.col-30 i{
    color: rgb(116, 116, 255);
}

.azure{
    background-color: rgb(211, 211, 255);
    text-align: center;
}

.azure h2{
    margin: 10px 0 10px 0;
}

.purple-h2{
    color: rgb(116, 116, 255);
    font-size: 17px;
}

p{
    font-size: 13px;
    line-height: 25px;
}

.col-one p{
    margin: 20px 0px 40px 0px;
}

.purple{
    background-color: rgb(116, 116, 255);
    color: white;
    padding: 7px 35px 7px 35px;
    letter-spacing: 2px;
}

button a{
    text-decoration: none;
    color: white;
}

.img-phone img{
    width: 100%;
}

/* second section */

.bg-color-purple{
    background-color: rgb(150, 146, 222);
    width: 100%;
    margin: 30px 0 55px 0;
}

.baseline{
    align-items: baseline;
}

.col-50{
    width: calc(100% / 2);
    position: relative;
}

.img-woman img{
    width: 80%;
    margin-top: 50px;
}

.col-50 h2{
    font-size: 20px;
    color: white;
    margin-top: 80px;
}

.col-50 p{
    color: white;
    margin: 40px 0 40px 0;
}

.center{
    
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.img-man img{
    width: 60%;
}

.center h2, .center p{
    color: black;
    margin-top: 10px;
}

.fa-arrow-down-long{
    padding: 10px;
    border-radius: 100%;
    background-color: rgb(150, 146, 222);
    margin-bottom: 20px;
}

/* third section */

.row-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col h1{
    padding: 20px;
    color: rgb(150, 146, 222);
}

.col-card{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: rgb(150, 146, 222);
    border-radius: 20px;
    margin: 50px 0 30px 0;
}

.testimonial img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
    object-fit: cover
}

.col-text p, .col-text h3{
    color: white;
    padding: 10px 0 10px 30px;
}

/* fourth section */

.wrap{
    flex-wrap: wrap;
    align-items: stretch;
    padding-bottom: 50px;
}

.col .h1-white{
    padding: 20px;
    color: white;
}

.numbers{
    color: rgb(150, 146, 222);
    font-size: 20px;
}

.white h2{
    color: rgb(150, 146, 222);
    font-size: 17px;
    margin: 15px 0 15px 0;
}

.purple-light{
    background-color: rgb(150, 146, 222);
    color: white;
    padding: 7px 35px 7px 35px;
    margin: 15px 0 15px 0;
    letter-spacing: 2px;
}

/* fifth section */

.align{
    align-items: flex-start;
}

.col-big{
    width: 65%;
}

.col-big h1{
    font-size: 40px;
    color: rgb(150, 146, 222);
}

.col-big p{
    margin: 40px 0 40px 0;
    font-size: 15px;
    line-height: 30px;
}

.col-small{
    width: 20%;
    position: relative;
}

.testimonial .fa-quote-left{
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 70px;
    color: rgb(150, 146, 222);
}

.col-small h2{
    color: rgb(150, 146, 222);
    font-size: 25px;
    margin: 10px 0 10px 0;
}

.col-small button{
    font-size: 12px;
    padding: 10px;
}

/* sixth section */

.no-margin{
    margin-bottom: 0;
}

.container-end{
    width: 40%;
    margin: 0 auto;
}

.col-footer h3{
    color: rgba(255, 255, 255, 0.639);
    margin: 50px 0 30px 0;
}

.col-footer h2{
    color: white;
    font-size: 45px;
    margin-bottom: 30px;
}

.col-footer h1{
    color: rgb(80, 192, 80);
    font-size: 70px;
    margin-bottom: 30px;
}

.col-footer p{
    color: white;
    padding-bottom: 40px;
}

.different{
    color: rgb(150, 146, 222);
    padding: 20px 35px 20px 35px;
    border-radius: 30px;
    margin-bottom: 30px;
}


/* FOOTER */


footer{
    background-color: rgba(0, 0, 0, 0.811);
    width: 100%;
}

footer .col{
    color: white;
}

footer p{
    margin: 40px 0 40px 0;
}

footer a{
    color: rgb(109, 109, 255);
}


/* RESPONSIVE */

/* tablet */

@media screen and (max-width: 992px) {
    .container, .container-end{
        width: 80%;
    }

    .hamburger{
        display: block;
    }

    .navigation{
        display: none;
    }
    
    .content{
        flex-direction: column;
    }

    .img-phone{
        width: 50%;
    }

    .baseline{
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 30px;
    }

    .col-50, .col-50 .center{
        width: 80%;
    }

    .white{
        width: 45%
    }

    .fa-quote-left{
        left: 110px;
    }
}

/* smartphone */

@media screen and (max-width: 576px) {
    .row-main{
        flex-direction: column;
        text-align: center;
    }

    .wrap, .align{
        flex-direction: column;
        align-items: center;
    }
    
    .col-card{
        flex-direction: column;
    }

    .col-small, .col-big, .col-65, .col-30, .col-50, .col-50 .center{
        width: 100%;
    }
}


