*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

/* HEADER */

header{
    width: 100%;
    height: 70px;
    background-color: rgb(116, 116, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    text-align: center;
    vertical-align: middle;
}

.logo img{
    width: 90%;
}

nav{
    display: block;
}

ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

li{
    padding: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.button{
    padding: 7px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.white{
    background-color: white;
}

.hamburger{
    display: none;
}

.fa-bars{
    font-size: 25px;
}


/* MAIN */

/* first section */

.row .col-65, .row .col-30{
    margin-top: 40px
}

.col-65{
    width: 65%;
    padding: 29px;
    background-color: rgb(211, 211, 255);
    border-radius: 15px;
    display: flex;
}

.col-30{
    width: 30%;
    padding: 20px;
    border-radius: 15px;
}

.col-30 i{
    color: rgb(116, 116, 255);
}

.azure{
    background-color: rgb(211, 211, 255);
    text-align: center;
}

.azure h2{
    margin: 10px 0 10px 0;
}

.purple-h2{
    color: rgb(116, 116, 255);
    font-size: 17px;
}

p{
    font-size: 13px;
    line-height: 20px;
}

.col-one p{
    margin: 20px 0px 20px 0px;
}

.purple{
    background-color: rgb(116, 116, 255);
    color: white;
    padding: 7px 35px 7px 35px;
    letter-spacing: 2px;
}

.col-one{
    width: 50%;
    position: relative;
}

.img-phone img{
    width: 70%;
    position: absolute;
    top: -10px;
    left: 45px;
}

/* second section */

.bg-color-purple{
    background-color: rgb(150, 146, 222);
    width: 100%;
    margin: 80px 0 55px 0;
}

.col-50{
    width: calc(100% / 2);
    position: relative;
}

.img-woman img{
    width: 80%;
    margin-top: 50px;
}

.col-50 h2{
    font-size: 20px;
    color: white;
    margin-top: 80px;
}

.col-50 p{
    color: white;
    margin: 40px 0 40px 0;
}

.card-white{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    top: -160px;
}

.img-man img{
    width: 60%;
}

.card-white h2, .card-white p{
    color: black;
    margin-top: 10px;
}

.fa-arrow-down-long{
    padding: 10px;
    border-radius: 100%;
    background-color: rgb(150, 146, 222);
    margin-bottom: 20px;
}

/* third section */

.row-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-red{
    width: 100%;
    height: 100px;
    background-color: red;

}

.col-blu{
    width: 100%;
    height: 100px;
    background-color: rgb(68, 0, 255);
    border-radius: 20px;
    margin: 50px 0 30px 0;
}

/* fourth section */

.wrap{
    flex-wrap: wrap;
}

/* fifth section */



/* sixth section */

.container-end{
    width: 40%;
    margin: 0 auto;
}


/* FOOTER */

footer{
    background-color: black;
    width: 100%;
    height: 200px;
}





